@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --color-white: #FFFFFE;
  --color-grey1: #EFF0F3;
  --color-grey2: #E4E5E9;
  --color-grey3: #C0C0C0;
  --color-grey4: #949494;
  --color-black: #2B2C34;
  --color-blue: #6246EA;
}

body {
  padding: 0;
  margin: 0;
}
